.fundo_conteudo{
    width: 100%;
    height: 550px;
    background-color: #10100e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_conteudo{
    width: 90%;
    height: 90%;
    border: 2px solid #73022C ;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap_conteudo{
    /* background-color: aqua; */
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.titulo_txt{
    /* background-color: antiquewhite; */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo_section{
    font-family: 'Tomorrow', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #D9115A;
    text-transform: uppercase;
    padding-bottom: 25px;
}

.txt_section{
    font-family: 'Tomorrow', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #D9115A;
}

.figure_section{
    width: 40%;
}

.img_section{
    width: 100%;
    border-radius: 25px;
}

.legenda_img{
    font-family: 'Tomorrow', sans-serif;
    font-weight: 400;
    font-size: 9px;
    color: #D9115A;
}

@media screen and (max-width: 810px) {
    .fundo_conteudo{
        height: 500px;
    }

    .titulo_txt{
        /* background-color: antiquewhite; */
        width: 100%;
        height: 60%;
    }

    .titulo_section{
        font-size: 22px;
        padding-bottom: 15px;
    }

    .txt_section{
        font-size: 13px;
    }

    .wrap_conteudo{
        flex-direction: column;
    }
}

@media screen and (max-width: 414px) {
    .fundo_conteudo{
        height: 500px;
    }

    .titulo_txt{
        /* background-color: antiquewhite; */
        width: 100%;
        height: 60%;
    }

    .figure_section{
        height: 40%;
    }

    .titulo_section{
        font-size: 18px;
        padding-bottom: 15px;
    }

    .txt_section{
        font-size: 10px;
    }

    .wrap_conteudo{
        flex-direction: column;
    }
}