header {
    background-color: #333;
    color: #050505;
    padding: 20px;
}

header h1 {
    margin: 0;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav li {
    margin-right: 20px;
}

header nav a {
    color: #000000;
    text-decoration: none;
}
    
    section {
        padding: 50px;
    }
    
    section h2 {
        margin-top: 0;
    }
    
    section p {
        margin-bottom: 30px;
    }
    
    section figure {
        margin-bottom: 50px;
    }
    
    section figcaption {
        font-style: italic;
        text-align: center;
    }
    
    
    footer {
        background-color: #333;
        color: #fff;
        padding: 20px;
        text-align: center;
    }